* { margin: 0; padding: 0; box-sizing: border-box; }
body { 
    background: #000; 
    color: #fff; 
    font-family: 'Montserrat', sans-serif; 
    line-height: 1.6;
    overflow-x: hidden;
}
.hero {
    height: 100vh; background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), ;
    display: flex; align-items: center; justify-content: center; text-align: center;
}


/* Projects Section */
.projects {
    padding: 60px 10%;
    background-color: #000;
}

/* Grid Layout */
.grid-4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

/* Project Card */
.project-card {
    background: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
    transition: 0.3s ease;
    text-align: center;
    height: 450px;
    max-width: 350px;
}

/* Image FULL WIDTH */
.project-card img {
    width: 100%;
    height: 220px;
    object-fit: fill;
    display: block;
}

/* Title */
.project-card p {
    padding: 15px;
    font-weight: 600;
}

/* Button */
.doc-link {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 18px;
    background: #4a6cf7;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}


/*Hover Effect */
.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(255, 107, 107, 0.3);
}


 .doc-link:hover {
    background: #2f4fd8;
}
.doc-project {
    text-align: center;
}
@media (max-width: 992px) {
    .grid-4 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .grid-4 {
        grid-template-columns: 1fr;
    }
}


.hero-content{
.profile-img { width: 200px; height: 200px; border-radius: 50%; margin-bottom: 20px;}
h1 { font-size: 4rem; text-transform: uppercase; letter-spacing: 5px; }}
.grid-3, .grid-4 { display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 20px; padding: 50px; max-width: 1200px; margin: 0 auto; }
.card { 
    background: #111; padding: 30px; border-radius: 15px; text-align: center; 
    transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover { transform: translateY(-10px); box-shadow: 0 20px 40px rgba(255,107,107,0.3); }
.projects img { width: 100%; height: 250px; object-fit: cover; border-radius: 10px; }
footer { text-align: center; padding: 30px; background: #111; }
@media (max-width: 768px) { .grid-3, .grid-4 { grid-template-columns: 1fr; padding: 20px; } }

/* .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.card img, .projects img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
} */